<% content_for :panel_heading do %>About<% end %>
<p>
Wellcome to Intelligent Counting System.
<%= image_tag 'https://admirallogistics.com/wp-content/uploads/2018/05/import1-1200x668.gif', class: "img-responsive1 center-block1", :style => "max-width: -webkit-fill-available;", :alt => "avatar" %>
</p>
